[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==2.2.2"
matplotlib = "==3.9.4"
pylint = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
